/* For the page "index.html" */

.main_inner {
  width: 75vw;
  margin: 15px auto;
  padding: 15px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 3px lightgray;
}

.main_header {
  background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.1) 0,
      rgba(255, 255, 255, 0.1) 100%
    ),
    url("https://rentything.s3.amazonaws.com/images/building2.jpg") center
      center no-repeat;
  background-size: auto;
  font-family: Nobile, Helvetica, Arial, sans-serif;
  min-height: 600px;
  height: auto;
  width: 100%;
  background-size: 100%;
}

.main_header h1 {
  font-size: 5em;
  color: white;
  line-height: 1.25;
  margin: 0;
}

.main_header p {
  font-size: 1.5em;
  color: white;
  line-height: 1.25;
}

.main_header_content {
  padding: 80px 20px 0px 20px;
}

.section {
  height: 500px;
  text-align: center;
  font-family: Nobile, Helvetica, Arial, sans-serif;
  color: rgb(85, 85, 85);
}

.colored_section {
  height: 500px;
  background-color: #6d4376;
  color: white;
  text-align: center;
  font-family: Nobile, Helvetica, Arial, sans-serif;
}

.half_section {
  height: 250px;
}

.section h1,
.colored_section h1 {
  font-size: 2.1em;
  font-family: Corben, Georgia, Times, serif;
}

.section ul,
.colored_section ul {
  list-style: none;
}

.section ul li {
  color: rgb(85, 85, 85);
}

.section ul li,
.colored_section ul li {
  margin: 10px 0;
  font-size: 1.1em;
}

.section ul i,
.colored_section ul i {
  margin-right: 5px;
}

.section h1 i,
.colored_section h1 i {
  margin-right: 15px;
}

.section p,
.colored_section p {
  font-size: 1.1em;
}

.start_renting_btn {
  background-color: #5bb75b;
  color: white;
  padding: 10px 20px;
  font-size: 1.2em;
  font-family: Corben, Georgia, Times, serif;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  transition: all 0.3s ease;
}

.start_renting_btn:hover {
  background-color: #3d943d;
}

.start_renting_btn i {
  margin-right: 5px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .main_inner {
    width: 95vw;
  }

  .main_header h1 {
    font-size: 2.5em;
  }

  .main_header p {
    font-size: 1.2em;
  }

  .section h1,
  .colored_section h1 {
    font-size: 1.4em;
    padding: 0 10px;
  }

  .section ul,
  .colored_section ul {
    padding: 0;
  }

  .section ul li,
  .colored_section ul li {
    font-size: 0.9em;
    padding: 0 10px;
    line-height: 1.5em;
  }

  .section p,
  .colored_section p {
    font-size: 0.9em;
    padding: 0 10px;
    line-height: 1.2em;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .main_header h1 {
    font-size: 3em;
  }

  .main_header p {
    font-size: 1.3em;
  }

  .section h1,
  .colored_section h1 {
    font-size: 1.6em;
    padding: 0 10px;
  }

  .section ul,
  .colored_section ul {
    padding: 0;
  }

  .section ul li,
  .colored_section ul li {
    font-size: 1em;
    padding: 0 10px;
    line-height: 1.5em;
  }

  .section p,
  .colored_section p {
    font-size: 1em;
    padding: 0 10px;
    line-height: 1.2em;
  }
}
